{% extends "base.html" %}
{% block content %}
    {% for lock in lockers %}
        {% csrf_token %}
        <div class="card w-50">
        <div class="card-body">
            <h5 class="card-title">{{ lock }}</h5>
        </div>
        </div>
        {% comment %} <p>{{ lock }}</p> {% endcomment %}
    {% endfor %}
        <form method = "POST">
            {% csrf_token %}
            <h1>Locker name: </h1> {{ locker_form.name }} 
            <h1>Locker skey: </h1> {{ locker_form.key }}
            <p><button type="submit" class="btn-primary">submit</button></p> 
        </form>
{% endblock content %}