{% extends "base.html" %}
{% block content %}
    <form method = "POST">
        {% csrf_token %}
        <div class="form-group">
            <label >Locker</label>
            <input type="text" class="form-control" placeholder="Name" name="name">
        </div>
        <div class="form-group">
            <label >Key</label>
            <input type="password" class="form-control" placeholder="Password" name="key">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form> 
    {% comment %} {{ form.as_p }}
    <input type="submit"> {% endcomment %}
{% endblock content %}